<h1>{$control->getName()}</h1>

<a n:ifPresenterLinkVerified="default" n:href>
	Component link
</a>

<a n:ifLinkVerified="signal!, TRUE" n:href>
	Component signal link true
</a>

<a n:ifLinkVerified="signal!, FALSE" n:href>
	Component signal link false
</a>

{ifset $message}
	{$message}
{/ifset}

{if $privilege}
	Component property verified
{/if}
