extensions:
	kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
	arachne.verifier: Arachne\Verifier\DI\VerifierExtension
	enumag.application: Enumag\Application\DI\ApplicationExtension

nette:
	application:
		mapping:
			*: Tests\Integration\Classes\*Presenter
		catchExceptions: null

services:
	routerFactory: Tests\Integration\Classes\RouterFactory
	router: @routerFactory::create()
	enabledRuleHandler:
		class: Tests\Integration\Classes\EnabledRuleHandler
		tags:
			arachne.verifier.ruleHandler:
				- Tests\Integration\Classes\Enabled
